[Unit]
Description=kopia
After=network.target

[Service]
Type=simple
ExecStart=kopia server start --insecure --without-password --log-dir=/var/log/kopia
Restart=on-failure
User=root

[Install]
WantedBy=multi-user.target
